.navbar1 {
    position: relative; 
    width: 100vw; /*keep it centered exactly within viewport width*/
    margin: 0 auto;
    padding: 0;


    /*not doing anything: */
    /* top:0px; 
    left:0px; */

    display: flex; /*flex = have breaklines after*/
    justify-content: center;
    list-style-type: none;
}

li {
    /*display: inline;*/ /*removes line breaks on li elements*/
    /*OR*/
    float: left; /*Use float to get block elements to float next to each other*/
    padding: 0;
    margin: 0;
}

li a {
    display: block;
    color: black;
    padding: 16px 16px; /*h w*/
    background-color: #78c5e9;
}


li a:hover {
    background-color: rgb(64,0,0);
    color: rgb(255,0,0);
}

.active {
    background-color: rgb(64,0,0);
    color: rgb(255,0,0);
}


/* @media (max-width: 500px) {
    
} */

/* @media only screen and (max-width: 480px), only screen and (max-device-width: 480px) { */
    /* CSS overrides for mobile here */
    /* li a {
        display: block;
        color: black;
        padding: 16px 16px ; /*h w 
        background-color: #6ad6ad;
    } */
 /* }  */

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
    li a {
        background-color: #e97878;
    }
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
    li a {
        background-color: #e978e0;
    }
}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    li a {
        background-color: #787ae9;
    }
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    li a {
        background-color: #78c0e9;
    }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }