.navbar1 {
    justify-content: center;
    display: flex;
    list-style-type: none;
}

  li {
    /*display: inline;*/ /*removes line breaks on li elements*/
    /*OR*/
    float: left; /*Use float to get block elements to float next to each other*/

  }

  li a {
    display: block;
    color: black;
    padding: 16px 16px; /*h w*/
    background-color: #78c5e9;
  }

  li a:hover {
      background-color: rgb(64,0,0);
      color: rgb(255,0,0);
  }

  .active {
    background-color: rgb(64,0,0);
    color: rgb(255,0,0);
  }

