.navbar1 {
    width: 100%; /*keep it centered exactly within viewport width 100% or 100vw (100vw extends thru scrollbar?)*/
    
    margin: 0px;
    padding: 0px;
        
    background: rgb(176, 211, 208);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
}


.titlenavbar1{
    padding: 16px 16px;
    
    /*put to left*/
    position: absolute;
    left: 0px;
      
}    

/* 
.navbar1_center {
  display: flex;
  justify-content: center;
  align-items: center;
} */





.navbar1_button1 {
  /*border: none; hide border thats usually shows in buttons*/
  list-style-type: none;

}
.navbar1_button1 a{
  padding: 16px 16px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 12px;
  text-decoration: none;

  /* background-color: rgb(216, 179, 196); */
  
  color: black;
  border: 2px solid black;
  border-color: rgb(64, 129, 64);


  background-image: linear-gradient(to right, rgb(138, 193, 202) 0%, rgb(138, 214, 191) 100%);
 
}
.navbar1_button1 a:hover {
  background-color: rgb(84,32,64);
  background-image: none;
  color: rgb(255,127,127);
  border: 2px solid rgb(255,127,127);
}


.navbar1_dropdownbutton1
{
  /*border: none; hide border thats usually shows in buttons*/
  list-style-type: none;
  
  padding: 16px 16px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 12px;
  text-decoration: none;
  
  /* background-color: rgb(216, 179, 196);
  color: black;
  border: 2px solid black;
  border-color: rgb(163, 129, 194); */

  color: black;
  border: 2px solid black;
  border-color: rgb(64, 129, 64);
  background-image: linear-gradient(to right, rgb(138, 193, 202) 0%, rgb(138, 214, 191) 100%);



}
.navbar1_dropdownbutton1:hover {
  background-color: rgb(84,32,64);
  background-image: none;
  color: rgb(255,127,127);
  border: 2px solid rgb(255,127,127);
}
.navbar1_dropdownbutton1:focus{
  background-color: rgb(84,32,64);
  background-image: none;
  color: rgb(255,127,127);
  border: 2px solid rgb(255,127,127);
  
}


.navbar1_dropdownbutton1 + .navbar1_dropdown_menu1 {
  /* visibility: hidden; */
  /* display: none; */
}

.navbar1_dropdown_menu1:active,
.navbar1_dropdownbutton1:focus + .navbar1_dropdown_menu1 {
  visibility: visible;
  /* display: block; */
} 


.navbar1_dropdown_menu1 {
    position: absolute;
    top: 54.5px;
    /*or*/
    /* position: relative; 
    top: 0%; */

    
    /* transform: translateY(100.75px); */
    

    box-shadow: 0 0px 12px 0 rgba(0,0,0,0.5);
    background-color: #adadad;
    list-style-type: none;

    border-radius: 12px;

    visibility: hidden;
    /* display: none; */

    /* transition: all 0.5s cubic-bezier(.25,.8,.25,1); */

}


.navbar1_dropdown_menu1 li{
  padding: 12px 4px;
  text-align: center;
  
  min-width: 128px;
}

.navbar1_dropdown_menu1 li a{
  
  background-color: rgb(207, 207, 207);
  padding: 16px 16px;

  display: block; /*seems to make links more blocky (rows of uniformed blocks) */

  /* width: 80px; */
  border-radius: 6px;
  
}
 

.navbar1_dropdown_menu1 li a:hover{
  background-color: rgb(84,32,64);
  color: rgb(255,127,127);
}



.button_style1 {
  
  /* background-color: rgba(255, 0, 0, 0.5);
  border-radius: 12px;
  border: 1px solid black; */
  
  background-color:rgb(144, 214, 203, 1);
  /* padding-top: 16px;  */
  /* padding-right: 16px; */
  /* padding-bottom: 16px; */
  /* padding-left:16px; */
  display: inline-block;

  /*button dimensions, ideal for uniform button size?*/
  width: 80px;
  height: 44px; /*height for normal button, not label*/
  text-align: center;

  margin: 1px;

  color: black;
  border: 2px solid black;
  border-color: rgb(64, 129, 64);
  background-image: linear-gradient(to right, rgb(138, 193, 202) 0%, rgb(138, 214, 191) 100%);
}



.button_style1_label {
  
  /* background-color: rgba(255, 0, 0, 0.5);
  border-radius: 12px;
  border: 1px solid black; */

  
  background-color:rgb(144, 214, 203, 1);
  /* padding-top: 16px;  */
  /* padding-right: 16px; */
  /* padding-bottom: 16px; */
  /* padding-left:16px; */
  display: inline-block;

  margin: 1px;

  /*button dimensions, ideal for uniform button size?*/
  width: 80px;
  line-height: 40px; /*line-height for label, not normal button*/
  text-align: center;


  color: black;
  border: 2px solid black;
  border-color: rgb(64, 129, 64);
  background-image: linear-gradient(to right, rgb(138, 193, 202) 0%, rgb(138, 214, 191) 100%);
}


.button_style1:hover, 
.button_style1:active 

.button_style1_label:hover, 
.button_style1_label:active, 
input:hover+.button_style1_label, 
input:active+.button_style1_label 
{
  background-color: rgb(84,32,64);
  background-image: none;
  color: rgb(255,127,127);
  border: 2px solid rgb(255,127,127);
}




.bar1 {
  display: flex;
    justify-content: center;
    align-items: center;
    
}