.navbar1 {
    width: 100%; /*keep it centered exactly within viewport width 100% or 100vw (100vw extends thru scrollbar?)*/
    height: 60px;
    margin: 0px;
    padding: 0px;
        
    background: rgb(176, 211, 208);

    display: flex;
    justify-content: center;
    align-items: center;
    
}


.navbar1_button1 {
  list-style-type: none;
}
.navbar1_button1 a {
  margin: 1px;
  /*border: none; hide border thats usually shows in buttons*/
  list-style-type: none;
  text-decoration: none;
  

  display: inline-block;
  width: 100px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;

  border-radius: 12px;

  /* background-color: rgb(216, 179, 196); */
  color: black;
  border: 2px solid black;
  border-color: rgb(64, 129, 64);


  background-image: linear-gradient(to right, rgb(138, 193, 202) 0%, rgb(138, 214, 191) 100%);
 
}

.navbar1_button1 a:hover {
  background-color: rgb(84,32,64);
  background-image: none;
  color: rgb(255,127,127);
  border: 2px solid rgb(255,127,127);
}


.navbar1_dropdownbutton1 {
  margin: 1px;
  /*border: none; hide border thats usually shows in buttons*/
  list-style-type: none;
  text-decoration: none;

  display: inline-block;
  width: 100px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;

  border-radius: 12px;

  /* background-color: rgb(216, 179, 196); */
  color: black;
  border: 2px solid black;
  border-color: rgb(64, 129, 64);


  background-image: linear-gradient(to right, rgb(138, 193, 202) 0%, rgb(138, 214, 191) 100%);

}
.navbar1_dropdownbutton1:hover {
  background-color: rgb(84,32,64);
  background-image: none;
  color: rgb(255,127,127);
  border: 2px solid rgb(255,127,127);
}
.navbar1_dropdownbutton1:focus{
  background-color: rgb(84,32,64);
  background-image: none;
  color: rgb(255,127,127);
  border: 2px solid rgb(255,127,127); 
}





.navbar1_dropdown_menu1 {
    position: absolute;
    top: 60px;
    /*or*/
    /* position: relative; 
    top: 0%; */

    /* transform: translateY(100.75px); */    

    box-shadow: 0 0px 12px 0 rgba(0,0,0,0.5);
    background-color: #adadad;
    list-style-type: none;

    border-radius: 12px;

    visibility: hidden;
    /* display: none; */
}
.navbar1_dropdownbutton1 + .navbar1_dropdown_menu1 {
  /* visibility: hidden; */
  /* display: none; */
}

.navbar1_dropdown_menu1:active,
.navbar1_dropdownbutton1:focus + .navbar1_dropdown_menu1 {
  visibility: visible;
  /* display: block; */
} 


.navbar1_dropdown_menu1 li{
  padding: 12px 4px;
  text-align: center;
  min-width: 128px;
}

.navbar1_dropdown_menu1 li a{
  
  background-color: rgb(207, 207, 207);
  padding: 16px 16px;

  display: block; /*seems to make links more blocky (rows of uniformed blocks) */

  /* width: 80px; */
  border-radius: 6px;
  
}
 
.navbar1_dropdown_menu1 li a:hover{
  background-color: rgb(84,32,64);
  color: rgb(255,127,127);
}

.transformX_Index {
  transform: translateX(52%);
}

.transformX_IE {
  transform: translateX(52%);
}



