input[type="range"]{
    -webkit-appearance:none;
    /* width:160px;
    height:20px; */
    /* margin:10px 50px; */
    background: linear-gradient(to right, #9A2720 0%, #20829a 100%);
    background-size: 150px 48px;
    background-position:center;
    background-repeat:no-repeat;
    overflow:hidden;
    /* outline: none; */
}


/* input[type="range"]:first-of-type{
margin-top:30px;
} */

input[type="range"]::-webkit-slider-thumb{
-webkit-appearance:none;
width:24px;
height:24px;
background: rgb(0,255,0,0.5);
position:relative;
/* z-index:3; */
/* box-shadow:0 0 5px 0 rgba(0,0,0,0.3); */
}

/* input[type="range"]::-webkit-slider-thumb:after{
content:" ";
width:160px;
height:10px;
position:absolute;
z-index:1;
right:20px;
top:5px;
background: #ff5b32;
background: linear-gradient(to right, #f088fc 1%, #AC6CFF 70%);
} */

/* p{
width:100%;
text-align:center;
color:white;
font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', Roboto, Arial, Sans-serif;
font-size:32px;
margin-top:30px;
} */
  