
html {
  background-color: #741e1e;
   /* margin: 0;
  padding: 0; */
  height: 100%
  
}

body {
  font-family: Helvetica;
  font-size: 16px;
  color: #ffffff;
  text-shadow: 3px 3px 5px rgba(0,0,0);
  
  margin: 0;
  padding: 0;
  /*padding: 22*/ 
  /* does nothing if using HTML declaration tag*/


  background-color: #3a3a3a;
}

img[src]{    
  /**/
  margin: 0;
  padding: 0;
}



/* @media (max-width: 500px) {
    
} */

/* @media only screen and (max-width: 480px), only screen and (max-device-width: 480px) { */
    /* CSS overrides for mobile here */
    /* li a {
        display: block;
        color: black;
        padding: 16px 16px ; /*h w 
        background-color: #6ad6ad;
    } */
 /* }  */

 @media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
  li a {
      background-color: #e97878;
  }
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
  li a {
      background-color: #e978e0;
  }
}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
  li a {
      background-color: #787ae9;
  }
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
  li a {
      background-color: #78c0e9;
  }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }



