html, img[src]{
  font-family: Helvetica;
  font-size: 16px;
  
  color: #ffffff;
  margin: 0;
    padding: 0;
    /* border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent; */
    background-color: #000000;
    
}

html, body, ul, canvas, div {
  display: block;
  margin: 0 auto;
}

body, div {
  margin: 0;
    padding: 0;
  background-color: #3a3a3a;
  text-shadow: 3px 3px 5px rgba(0,0,0);
}

.center1 {
  margin: auto;
  text-align: center;
  letter-spacing: 24px;
  text-shadow: 0px;
  
}

.center2 {
  margin: auto;
  width: 75%;
  border: 2px solid darkcyan;
  padding: 20px;
  font-size: 20px;
  text-align: center;
}
