html, body, div, img[src]{
  font-family: Helvetica;
  font-size: 16px;

  margin: 0;
    padding: 0;
    /* border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent; */
}

.center1 {
  margin: auto;
  text-align: center;
}

.center2 {
  margin: auto;
  width: 75%;
  border: 2px solid darkcyan;
  padding: 20px;
  font-size: 20px;
  text-align: center;
}
